<section class="todosection">
  <div class="todosection-info">
    <p class="todosection-title"><%= section_title%></p>
    <p class="todosection-completionstat">
      <%= todos.completed.count%>/<%=todos.count%>
    </p>
  </div>
<%todos=todos.not_completed if display_due_text_only%>
  <ul>
    <% todos.order(:due_date).map{ |todo| %>
      <li class="todosection-todo">
        <%= form_with(url: "/todos/#{todo.id}", method: "patch") do %>
          <input
            class="todo-checkbox"
            name="completed"
            type="checkbox"
            <%= todo.completed? ? "checked" : "" %>
            onclick="this.form.submit()"
          />
        <% end %>
        <p style= <%= todo.completed? ? "text-decoration:line-through" : "" %> >
         <%= todo.todo_text %>
        </p>
        <p class="todo-duedate"> <%= todo.due_date.to_s(:short) if display_date %> </p>
        <img
          class="todo-deleteicon"
          src="delete.png"
          alt="delete"
          height="20px"
          width="24px"
          style="vertical-align: text-bottom;"
        />
      </li>
    <%}%>
  </ul>
</section>
