<article>

   <% content_for :todopageheader do %>
      <header class="todopage-header">
         <h1 class="todopage-title">My Todo List</h1>
         <%= form_with( url: "/signout", method: "DELETE", class: "additional-header") do %>
            <p class="user-name"><%= @user.username %></p>
            <%= submit_tag "Sign Out", class: "signout-button", data: {disable_with: "Bye..."}%>
         <% end %>
         <hr>
      </header>
   <% end %>

    <%= form_with(class: "todoinput-bar", url: "/todos", method: "POST") do %>
      <%= text_field_tag :todo_text, nil, placeholder: "What's Next?", class: "todoinput-text" %>
      <%= date_field_tag :due_date, nil, class: "todoinput-text" %>
      <%= submit_tag :Add, class: "todoinput-button", data: { disable_with: "Adding..."} %>
    <%end%>

    <%= render partial: "todo-section", locals: {
      section_title: "Overdue",
      todos: Todo.overdue.not_completed,
      display_date: true,
   }%>
   <%= render partial: "todo-section", locals: {
      section_title: "Due Today",
      todos: Todo.due_today,
      display_date: false,
   }%>
   <%= render partial: "todo-section", locals: {
      section_title: "Due Later",
      todos: Todo.due_later,
      display_date: true,
   }%>

</article>
