<!DOCTYPE html>
<html>
  <head>
    <title>Todo Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p style="background-color: purple; color: white; font-size: 36px; padding: 25px; ">
    Todo Manager
   </p>

    <%= yield %>

    <p style= "font-size: 30px; background-color: purple; color: white; padding: 25px;">
     (c) Grape Juice Inc.
     </p>
  </body>
</html>
